/*
    --------------------------------
    Tumblr Theme 2018 POMY.PK
    --------------------------------
    + http://pomy.pk
    + 28/03/2018
    + Version 1.4.0
    + Copyright 2018, Kreative Biz, Inc.
    
*/

/* urdu post */

@font-face {
	font-family: "NAFEES";
	src: url('https://static.tumblr.com/ana0us6/1uxmbdl66/nafees-tahreer-naskh-regular-1.ttf') format('truetype');
}

@font-face {
  font-family:"8900";
  src: url("https://static.tumblr.com/ana0us6/Grembdl49/8900.eot");
  src: local("â˜º"),
    url("https://static.tumblr.com/ana0us6/rTjmbdl5i/8900.woff") format("woff"),
    url("https://static.tumblr.com/ana0us6/DK1mbdl4u/8900.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:"8900b";
  src: url("https://static.tumblr.com/ana0us6/Fktmbdlf2/8900b.eot");
  src: local("â˜º"),
    url("https://static.tumblr.com/ana0us6/wlRmbdlgx/8900b.woff") format("woff"),
    url("https://static.tumblr.com/ana0us6/ex5mbdlgd/8900b.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}




/*---------------------------------------------------------------------------------*/
/* GENERAL */
/*---------------------------------------------------------------------------------*/
.urdupost { margin:0px 50px 0px 50px;  }
  
  
.urdupost p{ font-family:"Jameel Noori Nastaleeq", Jameel Noori Nastaleeq, Alvi Nastaleeq, Nafees Tahreer Naskh,  "NAFEES", Nafees Web Naskh, Urdu Naskh Asiatype, Tahoma, Arial, Helvetica, sans-serif;  font-size: 24px;
  line-height: 36px;  color:#000000; text-align:justify; direction:rtl; }
  
  .urdupost h2{ font-family:"Jameel Noori Nastaleeq", Jameel Noori Nastaleeq, Alvi Nastaleeq, Nafees Tahreer Naskh,  "NAFEES", Nafees Web Naskh, Urdu Naskh Asiatype, Tahoma, Arial, Helvetica, sans-serif;  font-size: 34px;
  line-height: 36px;  color:#000000; text-align:justify; direction:rtl;}
  

/* end urdu post*/ 
  .hideurdu-urdu, .hide-urdu  {display:none !important;}
 .urdupost   h2  {
      color: white !important;
       line-height: 70px !important;
	     border-bottom: 1px solid #e5e5e5;
     
} 

.table-bordered {
     border-collapse: collapse !important;
  }

.breadcrumb {
      -webkit-border-radius: 0px !important;  
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

/* mod color */

 #comments a {color: black !important;}

.comment__header .author a {
    font-weight: 700;
    color: black !important;
}
p.text-success {color: black !important;}

.hidelinklink-link, .hidelinkportfolio-portfolio, .hidelinkportfolio-portfolio  a {
         
          pointer-events: none !important;
  cursor: text  !important;
  text-decoration: none  !important;
  color: #999999  !important;
         
     }

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.hero-unit {
    border: 10px solid #f0f0f0 !important;
}
.card .card-heading.simple {
      padding-top: 15px;
      color:  #ffffff !important; 
 }
.bg-quote {background-color:#f2992e !important;}

 .hide-chat, .hide-photos, .hide-audio, .hide-article,  {display:none !important;}
.hide-audio  {display: none !important;} 
.hide-article  {display: none !important;} 
.hide-photos {display: none !important;} 
.hide-chat {display: none !important;} 
.hide-quote {display: none !important;} 
			/*    {block:HomePage}
.pagination {
 display: none;  
}
 {/block:HomePage} */
/*
{block:HomePage}
div[class~=pagination] {
    display: none;
}
 {/block:HomePage}
*/

body {
        padding-top:  0px;
        padding-bottom: 40px;
		    background-image: url("https://static.tumblr.com/klvtjld/obEp63wiy/tiny_grid.png") !important;  

      }
      .hero-unit {
          padding: 60px;
      }
      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
		  
		  .panel-profile .panel-heading {
    height: 150px;
    background-size: cover;
}
.panel-profile-img {
    max-width: 100px;
    margin-top: -70px;
    margin-bottom: 5px;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.mb10{ margin-bottom:10px}

.bg-primary{background-color:#d95e40 !important;}a.bg-primary:focus,a.bg-primary:hover,button.bg-primary:focus,button.bg-primary:hover{background-color:#0062cc !important;}
.text-white{color:#fff!important}
.text-white a {color:#fff!important}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125) !important;
}
/*TIP  Not to strech the card in smaller devices This is just optional class*/

 
@media only screen and (min-width:300px) and (max-width:600px) {

.content{max-width:300px; margin:0 auto;}

}
		  
		  .card {
    padding-top: 0px;
    margin: 0px 0 20px 0 !important;
		  }
		  ::selection {
    color: red;
    background: yellow;
}


.photo-slideshow .row {
  clear: both;
  width: 100%;
  margin:0 !important;
  padding:0 !important;
}
.photo-slideshow .pxu-photo img {
    width: 100%;
    height: auto;
    margin:0 !important;
    padding:0 !important;
 }
 
 .pp-photsetdesc {
      line-height: 1.5 !important; 
      padding: 10px 10px 5px 10px !important;
      
  } 
	 
.frontcard {min-height:340px;}

 /* article menu color */
 

.nav-list > li > a:hover, .nav-list > li > a:focus, .nav-list > .text-article > a, .nav-list > .text-article > a:hover, .nav-list > .text-article > a:focus {
    color: #262626 !important;
    text-shadow: none  !important;
    background-color: #f5f5f5  !important;
    border-color: #427fed  !important;
}

.nav-list > li > a:hover, .nav-list > li > a:focus, .nav-list > .active-portfolio > a, .nav-list > .active-portfolio > a:hover, .nav-list > .active-portfolio > a:focus {
    color: #262626 !important;
    text-shadow: none  !important;
    background-color: #f5f5f5  !important;
    border-color: #427fed  !important;
}

/* le testimonials side menu */


.nav-list > li > a:hover, .nav-list > li > a:focus, .nav-list > .activet-testimonials > a, .nav-list > .activet-testimonials > a:hover, .nav-list > .activet-testimonials > a:focus {
    color: #262626 !important;
    text-shadow: none  !important;
    background-color: #f5f5f5  !important;
    border-color: #427fed  !important;
}



/* le article side menu */


.nav-list > li > a:hover, .nav-list > li > a:focus, .nav-list > .activea-notes > a, .nav-list > .activea-notes > a:hover, .nav-list > .activea-notes > a:focus {
    color: #262626 !important;
    text-shadow: none  !important;
    background-color: #f5f5f5  !important;
    border-color: #427fed  !important;
}




/* le Photos side menu */


.nav-list > li > a:hover, .nav-list > li > a:focus, .nav-list > .activep-photos > a, .nav-list > .activep-photos > a:hover, .nav-list > .activep-photos > a:focus {
    color: #262626 !important;
    text-shadow: none  !important;
    background-color: #f5f5f5  !important;
    border-color: #427fed  !important;
}



/* le Quotes side menu */


.nav-list > li > a:hover, .nav-list > li > a:focus, .nav-list > .activeq-quote > a, .nav-list > .activeq-quote > a:hover, .nav-list > .activeq-quote > a:focus {
    color: #262626 !important;
    text-shadow: none  !important;
    background-color: #f5f5f5  !important;
    border-color: #427fed  !important;
}



/* le Links side menu */


.nav-list > li > a:hover, .nav-list > li > a:focus, .nav-list > .activel-link > a, .nav-list > .activel-link > a:hover, .nav-list > .activel-link > a:focus {
    color: #262626 !important;
    text-shadow: none  !important;
    background-color: #f5f5f5  !important;
    border-color: #427fed  !important;
}




/* le Chat side menu */


.nav-list > li > a:hover, .nav-list > li > a:focus, .nav-list > .activec-chat > a, .nav-list > .activec-chat > a:hover, .nav-list > .activec-chat > a:focus {
    color: #262626 !important;
    text-shadow: none  !important;
    background-color: #f5f5f5  !important;
    border-color: #427fed  !important;
}




/* le Audio side menu */


.nav-list > li > a:hover, .nav-list > li > a:focus, .nav-list > .activeaudio-audio > a, .nav-list > .activeaudio-audio > a:hover, .nav-list > .activeaudio-audio > a:focus {
    color: #262626 !important;
    text-shadow: none  !important;
    background-color: #f5f5f5  !important;
    border-color: #427fed  !important;
}





/* le Video side menu */


.nav-list > li > a:hover, .nav-list > li > a:focus, .nav-list > .activev-video > a, .nav-list > .activev-video > a:hover, .nav-list > .activev-video > a:focus {
    color: #262626 !important;
    text-shadow: none  !important;
    background-color: #f5f5f5  !important;
    border-color: #427fed  !important;
}
